#Section-1{
    .bg-img{
        background-image: url("https://d2aq6dqxahe4ka.cloudfront.net/themes/front/page/images/home-page/bannerImgHome.png");
        width: 100%;
        height: 630px;
        background-repeat: no-repeat;
        background-position:center;
        background-size: cover;
    }
}

#Footer{
    background-image: url("https://d2aq6dqxahe4ka.cloudfront.net/themes/neumorphism/images/footer-banner.webp");
    background-position:50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;
    padding-top: 25px;
}